@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
	background-color: #555555;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}


.info-box{
	text-align: center;
	border: 0.2rem solid #BB00BB;
	border-radius: 0.4rem;
	margin: 0.2rem;
	padding: 0.4rem;
}

.col-sm{
	padding: 0em;
}

b{
	font-size: 14px;
	color: #ff0000;
}

.data{
	font-size: 5vw;
}

.big-data{
	font-size: 12vw;
	font-weight: bold;
}