
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body{
	background-color: #404040;
	color: white;
	font-family: 'Open Sans', sans-serif;
}


.info-box{
	text-align: center;
	border: 0.2rem solid #AA00BB;
	border-radius: 0.4rem;
	margin: 0.2rem;
	padding: 0.4rem;
	color: white;
}

.warning{
	background-color: #ff0000;
	color: black;
}

div[class^='col-sm']{
	padding: 0em;
}

.box-title{
	font-size: 15px;
	font-weight: bold;
}

.data{
	font-size: 5vw;
	font-weight: initial;
}

.big-data{
	font-size: 12vw;
	font-weight: bold;
}